{{! markers need to be placed in sections above desired navigation section to compensate for the navbar! }}

<div id="purpose" role="marker" style="height: 70px;"></div>

<nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="https://github.com/ChrisHonniball/ember-markdown-section">ember-markdown-section</a>
    </div>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <li><a href="#purpose">Purpose</a></li>
        <li><a href="#installation">Installation</a></li>
        <li><a href="#project-status">Project Status</a></li>
        <li><a href="#examples">Examples</a></li>
        <li><a href="#options">Options</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Purpose</h2>
  <p class="lead">
    <code>ember-markdown-section</code> allows you to use markdown syntax in your Ember templates.
  </p>

  <div id="installation" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Installation</h2>
  <pre>ember install ember-markdown-section</pre>

  <div id="project-status" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Project Status</h2>
  <p class="lead">
    <span class="label label-success">Stable</span>&nbsp;
    <a href="https://github.com/ChrisHonniball/ember-markdown-section/releases/latest">Stable version released</a>. All additional development will be tagged as a new release.
  </p>

  <div id="examples" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Examples</h2>
  
  <h3>Processed Template</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      {{#ember-markdown-section}}
        ---
        
        ### This is a test of the <code>ember-markdown-section</code> syntax
        
        This section was written with a combination of markdown and HTML.
        
        #### Supported syntax
        
        * All supported items from [chjj/marked](https://github.com/chjj/marked)
        
        > Markdown is intended to be as easy-to-read and easy-to-write as is feasible.
        > 
        > - *[Daring Fireball: Markdown Philosophy](http://daringfireball.net/projects/markdown/syntax#philosophy)*
        
        <div class="text-info">You can still include HTML in your templates.</div>
        
        ---
      {{/ember-markdown-section}}
    </div>
  </div>
  
  
  <h3>Unprocessed Template</h3>
  {{#ember-highlight-code language="markdown"}}
    ---
    
    ### This is a test of the &lt;code&gt;ember-markdown-section&lt;/code&gt; syntax
    
    This section was written with a combination of markdown and HTML.
    
    #### Supported syntax
    
    * All supported items from [evilstreak/markdown-js](https://github.com/evilstreak/markdown-js)
    
    > Markdown is intended to be as easy-to-read and easy-to-write as is feasible.
    > 
    > - *[Daring Fireball: Markdown Philosophy](http://daringfireball.net/projects/markdown/syntax#philosophy)*
    
    &lt;div class="text-info"&gt;You can still include HTML in your templates.&lt;/div&gt;
    
    ---
  {{/ember-highlight-code}}

  <div id="options" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Options</h2>

  <p><em>No options available</em></p>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-xs-12 text-center lead">
  Created by <a href="https://github.com/ChrisHonniball">@ChrisHonniball</a>
</div>
